body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    font-family: 'Public Sans', sans-serif;
    color:#ffffff;
}

#map {
    position: absolute;
    width: 65%;
    left: 35%;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
}

#load {
    position: absolute;
    z-index: 1000;
    left: 0%;
    top: 40%;
    color: black;
    font-size: x-large;
}


#ui {
    position: absolute;
    left: 0%;
    top: 20vh;
    width: 30%;
    height: 70%;
    padding: 1em 1em;
    overflow-y:auto;
    scrollbar-color: coral;
}

#title{
    position: absolute;
    top: 1vh;
    left: 0%;
    width: 30%;
    z-index: 1000;
    padding: 0em 1em;
}

#bottom {
    position: absolute;
    left: 0%;
    bottom: 1%;
    width: 30%;
    z-index: 1000;
    padding: 0em 1em;
    font-size: smaller;
}

#Plot{
    position: absolute;
    left: 0%;
    top: 40vh;
    padding: 0em 1em;
    font-size: 16;
}

.row {
    height: 12px;
    width: 100%;
}

.colors {
    background: linear-gradient(to right, #ede5cf, #e0c2a2, #d39c83, #813753, #541f3f);
    
}

.label {
    width: 18%;
    display: inline-block;
    text-align: center;
}

@media all and (min-width: 768px) and (max-width: 1400px) {
    #title{
        font-size:80%;
    }
    #ui{
        top: 30%;
        font-size:80%;
    }
    #bottom{
        font-size: 80%;
    }
    .label {
        font-size: 80%;
    }
    #Plot{
        display:none
    }
}

@media all and (min-width: 0px) and (max-width: 768px) {
    #title{
        font-size:80%;
    }
    #ui{
        top: 30%;
        font-size:80%;
    }
    #bottom{
        font-size: 80%;
    }
    .label {
        font-size: 80%;
    }
    #Plot{
        display:none
    }
}